Eye health reminder.json
{
  "name": "Eye health reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "c1b18c10-b0e1-4246-8fbc-761b61e8332a",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "chatId": "385897376",
        "text": "=👀 Eye Break Time!  \n\n• Berkedip pelan 10x \n• Lihat objek jauh 20 detik \n• Lepaskan fokus dari layar  \n\n💧 Minum air juga ya",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        0
      ],
      "id": "b7636bb3-68e5-447d-9503-2ea6db1a8539",
      "name": "Send a text message",
      "webhookId": "16f6a056-0548-49fa-be94-33d44cfdc8be",
      "credentials": {
        "telegramApi": {
          "id": "9XBz6RApHP9aD7JL",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global')\n\nreturn [{\n  json: {\n    data: data,\n    lastSent: data.lastSent || 0,\n    now: Date.now()\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "56d1ce03-9aa2-4655-814d-86c82a335f70",
      "name": "Get Last Sent Time"
    },
    {
      "parameters": {
        "jsCode": "const data = $getWorkflowStaticData('global');\ndata.lastSent = Date.now();\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        0
      ],
      "id": "942c507d-93d2-454c-9d0b-b1d1cd3288a9",
      "name": "Set Last Sent Time"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "24707ecc-bf50-4b95-8cf4-261d683ba0a1",
              "leftValue": "={{\n  (() => {\n    const now = $json.now;\n    const lastSent = $json.lastSent;\n\n    const hour = new Date(now).getHours();\n\n    let intervalMinutes = 45;\n\n    if (hour >= 12 && hour < 15) intervalMinutes = 60;\n    if (hour >= 15) intervalMinutes = 90;\n\n    const diffMinutes = (now - lastSent) / 60000;\n\n    return diffMinutes >= intervalMinutes;\n  })()\n}}\n",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        -80
      ],
      "id": "c1e7f3b0-5906-46b1-ab74-450ce9d12b0a",
      "name": "If: Should Send Now?"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "208b4976-05ed-4a94-ab87-75757e8627f2",
              "leftValue": "={{\n  (() => {\n    const now = new Date();\n    const hour = now.getHours(); // pakai timezone server\n    const day = now.getDay();\n\n    const isWeekDay = day >= 1 && day <= 5;\n    const isWorkingHour = hour >= 9 && hour < 22;\n\n    return isWeekDay && isWorkingHour;\n  })()\n}}\n",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        96
      ],
      "id": "01ffbf59-d14d-47ee-b8aa-78ed0da1b56a",
      "name": "If: Is Weekday and Working Hours?"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Last Sent Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Set Last Sent Time",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Last Sent Time": {
      "main": [
        [
          {
            "node": "If: Should Send Now?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Should Send Now?": {
      "main": [
        [
          {
            "node": "If: Is Weekday and Working Hours?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If: Is Weekday and Working Hours?": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "16088741-7537-4c7e-afa9-e988eef33e5b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "de79aeb26e2b57be40a2afbe28a8f1c48dca848ec7a903a49a0bf6b30023f83a"
  },
  "id": "rNcWBZYPada_Y2yfVKYQK",
  "tags": []
}